.card {
  margin-bottom: 70px;
  transition: 0.5s;
  border-radius: 15px;
}

body {
  background-color: bisque;
}
.row {
  margin-top: 170px;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-text {
  font-size: 18px;
}

.container-fluid {
  width: 80%;
}

.navbar {
  background-color: rgb(15, 43, 65);
  font-size: 18px;
}

.navbar-brand {
  font-size: 23px;
}

.navbar-nav {
  margin-left: 1rem;
}

.btn {
  width: 140px;
  border-radius: 10px;
}

.btnn {
  width: 90px;
}
